*{
   padding: 0;
   margin: 0;

}

menu {
   width: 100%;
   height: 100px;
   background-color: black;
   display: flex ;
   flex-direction: row;
   /*manda el menu arriba estaticamente*/
   position: fixed;
top: 0;
z-index: 1000;
  
}

.menu-izquierdo {
   width: 260px;
   height: 100%;
   background-color: #070f01ee;;
   display: flex ;
   align-items: center;
   justify-content: flex-start;
   gap: 20px;
   

}
.menu-izquierdo a {
   font-size: 15px;
   font-family: 'Zapf Chancery', cursive;
   font-weight: bold;
   text-decoration:  none;
   color: white;
   
 

}



   

.menu-derecho {
   width: 100%;
   height: 100%;
   background-color: #070f01ee;
   display: flex ;
   align-items: center;
   justify-content:flex-end;

}
.menu-derecho a {
   color: white;
   text-decoration: none;
   display: flex ;
   align-items: center;
   justify-content: center;
   margin: 0 10px;
   font-size: 18px;
   font-family: Arial, sans-serif;
   font-weight: bold;
   padding: 10px;
   box-shadow: 2px 2px 4px 0 white;
   border-radius: 10px;

}



.menu-normal {
   display: flex ;
   flex-direction: row; 


}



/*movil*/
@media screen and (max-width: 1000px) {

  
    .menu-izquierdo {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    z-index: 1001;
  }


    .menu-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .menu-normal {
        display: none;
    }


    .hamburger-icon {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 20px;
    }

    .hamburger-icon span {
        background-color: white;
        width: 100%;
        height: 6px;
        display: block;
        border-radius: 3px;
    }

    .menu-container.menu-open .menu-normal {
       display: flex;
        background-color: black;
        z-index: 2;
        width: auto;
        height: auto;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0 0;
        padding: 20px;
        border-radius: 20px;
        border: 2px solid white;
    }

}


/*footer*/
.footer {
  background-color: #070f01ee;
  color: #333333;
  
  padding: 40px 20px;
  font-family: 'Helvetica Neue', sans-serif;
  border-top: 6px double #6662629f;

}

/* Contenedor flexible */
.footer-contenedor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

/* Columnas */
.footer-columna {
  flex: 1;
  min-width: 220px;
}

.footer-columna h4 {
  font-size: 16px;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Enlaces */
.footer-columna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-columna ul li {
  margin-bottom: 8px;
}

.footer-columna ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-columna ul li a:hover {
  color: #0077cc;
}

/* Notificacion */
.footer-columna input[type="email"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 14px;
}

.footer-columna button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.footer-columna button:hover {
  background-color: #0077cc;
}

/* Movil */
@media (max-width: 1000px) {
  .footer-contenedor {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-columna {
    margin-bottom: 30px;
  }
}


/*carrousel*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

main {
  position:relative;
  width: 100%;
  height: calc(100vh - 100px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 50%; }
  &:nth-child(4) { left: calc(50% + 220px); }
  &:nth-child(5) { left: calc(50% + 440px); }
  &:nth-child(6) { left: calc(50% + 660px); opacity: 0; }
}

.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 170px); }
    &:nth-child(5) { left: calc(50% + 340px); }
    &:nth-child(6) { left: calc(50% + 510px); opacity: 0; }
  }
}

@media (width < 650px) {
  .content {
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 50%; }
    &:nth-child(4) { left: calc(50% + 140px); }
    &:nth-child(5) { left: calc(50% + 280px); }
    &:nth-child(6) { left: calc(50% + 420px); opacity: 0; }
  }
}
  
/*sobre-nosotros*/
.sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #f5f5f5;
  }

.lema {
  text-align: center;
  font-family: 'helvetica', sans-serif;
  font-size: 40px;
}
@media screen and (max-width: 1000px) {
  .sobre-nosotros {
    padding: 20px;
    text-align: center;
  }

  .lema {
    font-size: 24px;
    line-height: 1.3;
    padding: 10px 20px;
  }
}

.description {
    text-align:left;
    font-family: 'helvetica', sans-serif;
    font-size: 20px;
    margin: 20px;
  }
  
.gif-icono {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }

